<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace： 1. namespace必须和Mapper接口类路径一致 -->
<mapper namespace="com.item.mapper.ShoppingMapper">
	<!-- 2. id必须和Mapper接口方法名一致 -->
	<!-- 3. parameterType必须和接口方法参数类型一致 -->
	<!-- 4. resultType必须和接口方法返回值类型一致 -->

	<!-- 添加购物车 -->
	<insert id="insertShopCart" parameterType="com.item.entity.ShoppingCart">
		insert into shoppingcart (sid,uid,mid,account,cycle,str1,str2,str3) 
			values (#{sid},#{uid},#{mid},#{account},#{cycle},#{str1},#{str2},#{str3})		
	</insert>
	
	<!-- 更改购物车信息 -->
	<update id="updateShopCart" parameterType="com.item.entity.ShoppingCart">
		update shoppingcart
			<set>
				<if test="account!=null and account!=''">
					account=#{account},
				</if>
				<if test="cycle!=null and cycle!=''">
					cycle=#{cycle},
				</if>
			
			</set>
		where sid=#{sid}
	</update>
	
	<!-- 查询商品之前是否加入 -->
	<select id="selectShopCartByUidAndMid" resultType="com.item.entity.ShoppingCart">
		select * from shoppingcart where uid=#{uid} and mid=#{mid}
	</select>
	
	
	<!-- 删除购物车信息 -->
	<delete id="deleteShopCartById" parameterType="String">
		delete from shoppingcart where sid=#{sid}
	</delete>
	
	<!-- 查询购物车 -->
	<select id="selectShoppingCartByUid" resultType="com.item.entity.ShoppingCart">
			
			SELECT
			a.sid,
			a.uid,
			a.mid,
			a.cycle, 
			case when a.cycle = 1 then '一个月' when  a.cycle = 2 then '半年'  when  a.cycle = 3 then '一年' else '永久' end  cyclename,
			b.filePics filePics,
			b.modelname modelname,
			case  when c.username IS NULL then d.username else   c.username end  username,
	 		FORMAT(	case when a.cycle=1 then b.unitprice
			when a.cycle=2 then b.unitprice*6*0.9
			when a.cycle=3  then b.unitprice*12*0.8
			else b.modelprice end,2) account,
			b.unitprice,
			b.modelprice
			FROM
			shoppingcart a
			LEFT JOIN modelinfo b ON a.mid = b.mid LEFT JOIN usermessage c ON b.userid = c.userid
			LEFT JOIN userinfo d ON b.userid = d.userid
			WHERE
				a.status=0 and  a.uid = #{uid}
	</select>
	
	<!-- 查询购物车数量 -->
	<select id="selectShoppingCartCountByUid" resultType="int">
		select count(sid) from shoppingcart where status=0 and uid = #{uid}
	</select>
	
	<!-- 查询勾选数量 -->
	<select id="selectShoppingCartBySid" resultType="String">		
			select sum(account) from (
			select 
						a.sid,
				 		case when a.cycle=1 then b.unitprice
						when a.cycle=2 then b.unitprice*6*0.9
						when a.cycle=3  then b.unitprice*12*0.8
						else b.modelprice
						end account
						
			 from shoppingcart a  LEFT JOIN  modelinfo b  on  a.mid=b.mid
			
			) a where a.sid in  
		<foreach item="item"  index="index" collection="array" open="(" separator="," close=")">
				#{item}
		</foreach>
	</select>
	
	<!-- 通过ID查询购物车信息 -->
	<select id="queryShoppingCartBySid" resultType="com.item.entity.ShoppingCart">
		select * from shoppingcart where sid=#{sid}
	</select>
	
	<delete id="deleteShopCartByUserIdAndMid" parameterType="com.item.alipay.OrderFlow">
		delete from shoppingcart where uid=#{uid} and mid=#{mids}
	</delete>
	
	<!-- 加入购物车之前查询是否已经购买 -->
	<select id="queryShoppingByUserIdAndMid" resultType="int">
			select count(*) from flowmodel where uid=#{uid} and mid =#{mid}
	</select>
</mapper>