<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace： 1. namespace必须和Mapper接口类路径一致 -->
<mapper namespace="com.item.mapper.UnityMapper">
	<!-- 通过类别或者名称查询 -->
	<select id="queryPakInfoByName" resultType="com.item.entity.PakInfo">
		select * from pakinfo 
		<where>
			<if test="list !=null  and list.size()>0">
				classname in 
				<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				      (#{item})
			    </foreach>	
			    or
			    displayname in 
				<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				      (#{item})
			    </foreach>	
			</if>
		</where>    		    
		LIMIT  #{page.pageStart},#{page.pageSize}				
	</select>
	
	
	<select id="queryFlowModelByName" resultType="com.item.entity.PakInfo">
			SELECT
					modelname pakname,
					filePics pakpicturepath,
					fileModel pakdownloadpath
				FROM
					(
						SELECT
							a.mid,
							a.resource_one,
							a.resource_two,
							a.resource_three,
							a.resource_four,
							a.modelname,
							a.filePics,
							a.fileModel
						FROM
							modelinfo a
						LEFT JOIN flowmodel b ON a.mid = b.mid
						WHERE
							b.uid = #{uid}
						AND b.endtime = ''
						OR b.endtime >= DATE_FORMAT(NOW(), '%Y-%m-%d')
					) a
				WHERE
					a.resource_one IN 
					<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				      (#{item})
			   		 </foreach>	
				OR a.resource_two IN 
					<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				      (#{item})
			    	</foreach>	
				OR a.resource_three IN
					<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				      (#{item})
			    	</foreach>	
				OR a.resource_four IN 
				<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				      (#{item})
			    </foreach>	
			    LIMIT  #{page.pageStart},#{page.pageSize}			
	</select>
	
	<select id="queryCountFlowModelByName" resultType="int">
			SELECT
					count(*)
				FROM
					(
						SELECT
							a.mid,
							a.resource_one,
							a.resource_two,
							a.resource_three,
							a.resource_four,
							a.modelname,
							a.filePics,
							a.fileModel
						FROM
							modelinfo a
						LEFT JOIN flowmodel b ON a.mid = b.mid
						WHERE
							b.uid = #{uid}
						AND b.endtime = ''
						OR b.endtime >= DATE_FORMAT(NOW(), '%Y-%m-%d')
					) a
				WHERE
					a.resource_one IN 
					<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				      (#{item})
			   		 </foreach>	
				OR a.resource_two IN 
					<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				      (#{item})
			    	</foreach>	
				OR a.resource_three IN
					<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				      (#{item})
			    	</foreach>	
				OR a.resource_four IN 
				<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				      (#{item})
			    </foreach>		
	</select>
	
	<!-- 通过类别或者名称查询总数 -->
	<select id="queryCountByName" resultType="int">
		select count(*) from pakinfo 
		<where>
			<if test="list !=null  and list.size()>0">
				classname in 
				<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				      (#{item})
			    </foreach>	
			</if>
			 or
		    displayname in 
			<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			      (#{item})
		    </foreach>	
		</where>    		    
	</select>
	
	<!-- 通过名称模糊查询 -->
	<select id="queryPakInfoByDisplayname" resultType="com.item.entity.PakInfo">
		select * from pakinfo 
		<where>
			<if test="pakInfo.displayname !=null and pakInfo.displayname !=''">
				displayname like CONCAT('%',#{pakInfo.displayname},'%') 
			</if>
		</where>
		LIMIT  #{page.pageStart},#{page.pageSize}
	</select>
	
	<!-- 通过名称模糊查询总数 -->
	<select id="queryCountByDisplayname" resultType="int">
		select count(*) from pakinfo 
		<where>
			<if test="displayname !=null and displayname !=''">
				displayname like CONCAT('%',#{displayname},'%') 
			</if>
		</where>
	</select>
	
	<!-- 查询树结构 -->
	<select id="queryZTree" resultType="com.item.entity.Menu">
		select * from resourceinfo
	</select>
</mapper>